{% extends 'main.twig' %}

{% block title %}Новая тема{% endblock %}

{% block content %}
    <div class="container">
        <h2>Задать вопрос</h2>
        <hr>
        <form method="post" action="{{ route('question.store') }}" accept-charset="utf8">
            {{ csrf_field() }}
            <input type="text" name="name" value="" placeholder="Ваше имя" required>
            <input type="email" name="email" value="" placeholder="Ваш E-mail" required>
            <select name="theme" required>
                <option value="" disabled selected>Выберите тему</option>
                {% for th in themes %}
                    <option value="{{ th.id }}">{{ th.name }}</option>
                {% endfor %}
            </select>
            <textarea name="qname" value="" placeholder="Содержание вопроса" id="form_title" required></textarea>
            <input type="submit" name="submit" value="Отправить" class="btn btn-success">
        </form>
    </div>
{% endblock %}   